<ion-view>

  <!-- <ion-nav-bar style="border-bottom: 0px;">

  </ion-nav-bar> -->

  <script id="my-modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar>
        <div class="buttons primary-buttons">
          <a ng-click="closeModal()" class="button icon-left button-clear ion-close icon-close"></a>
        </div>
        <h1 class="title">Charleston East End</h1>
      </ion-header-bar>
      <ion-content>
        <div class="modal-container">
          <p>The Charleston East End app is designed to enhance your experience as you tour, shop, and eat throughout our neighborhood and business district. Whether you’re out for a stroll, visiting Charleston for the week, or looking to save on your favorite goods, food, and services in the district, the Charleston East End app has what you need for Your Place to Be. Tour almost 50 historic properties, over 50 public art pieces, and get all the details about the one-of-a-kind businesses that define the East End. The Charleston East End app is a project of East End Main Street, an affiliate of Charleston Main Streets.</p>

          <p>A very special thanks to our sponsors, partners, and grantors for making this project possible:</p>

          <div class="row">
            <div class="col-80 col-offset-10 center">
              <img class="sponsor" src="img/gkvf.png" />
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-50 center">
              <img class="sponsor" src="img/electric.png" />
            </div>
            <div class="col-50 center">
              <img class="sponsor" src="img/cvb.png" />
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col center">
              <p>East End Community Association, Kanawha Valley Historic & Preservation Society</p>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col center">
              <p>An affiliate of Charleston Main Streets, Inc.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-50 col-offset-25 center">
              <img class="sponsor" src="img/cms.jpg" />
            </div>
          </div>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>



  <ion-content class="padding bg" style="background: url('img/bg.png') no-repeat center center fixed; background-size:cover;">
    <div class="landing">

      <div class="row">
        <div class="col-10">
          <div class="buttons primary-buttons">
            <a ng-click="openModal()" class="button icon-left button-clear ion-information-circled"></a>
          </div>
        </div>
        <div class="col">
          <div class="logo">
            <img src="img/eastend-transparent.png" />
          </div>
        </div>
        <div class="col-10">

        </div>
      </div>


      <div class="row">
        <div class="col">
          <a href="#/tour">
            <div class="col button tour">
              <img src="img/Home_Tour.png" /> <span>TOUR</span>
              <p>
                Our neighborhood's public art and historical buildings
              </p>
            </div>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <a href="#/explore">
            <div class="col button explore" >
              <img src="img/Home_Explore.png" /> <span>EXPLORE</span>
              <p>
                Make your own way through our neighborhood's businesses and art
              </p>
            </div>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <!-- <a ng-click="scanBarcode()"> -->
          <a ng-click="doSomething()">
            <div class="col button vibe">
              <img src="img/ViBE_Purple.png" />
              <p>
                Check in for local deals!
              </p>
            </div>
          </a>
        </div>
      </div>

      <div class="row">

      </div>

    </div>
  </ion-content>
</ion-view>
